.title{
    display: flex;
    margin-top: 50px;
}
.title-line{
    width: 1vw;
    background-color: #F05454;
    margin-right: 2vw;
}
.legends{
    display: block;
    margin-top: 50px;
}
.legends h2{
    font-size: xx-large;
    font-weight: 700;
    margin-top: 20px;
}
.legends p{
    font-family: "Roboto Mono", sans-serif;
}
.legend{
    display: flex;
    align-items:center;
}
.text{
    width: 70vw;
    margin-left: 10px;
}
.legend-img{
    width: 30vw;
    height: 30vh;

}
.img-1{
    background: url(../img/desktop/cards/nathan-dumlao-2z3MOB3kfJU-unsplash.jpg) center center/cover no-repeat;
}
.img-2{
    background: url(../img/desktop/cards/nathan-dumlao-2z3MOB3kfJU-unsplash.jpg) center center/cover no-repeat;
}
.img-3{
    background: url(../img/desktop/cards/nathan-dumlao-2z3MOB3kfJU-unsplash.jpg) center center/cover no-repeat;
}
@media (max-width: 767px){
    .text{
        width: 100vw;
    }
    .legend{
        flex-wrap: wrap;
    }
    .legend-img{
        width: 100vw;
        margin-top: 10px;
    }
}
