.history-section {
    width: 100%;
    height: auto;
    display: flex;
}

.history-container {
    display: flex;
    margin-top: 5vh;
}

.history-text {
    margin-left: 20px;
    text-align: center;
    width: 100%;
}
.classes {
    height: 100px;
}

.title_line{
    width: 2vw;
    background-color: #F05454;
    margin-right: 2vw;
}
.history-img{
    width: 15vw;
    border-radius: 30px;
    background: url(../img/desktop/menu/pastux.svg) center center/cover no-repeat;
}
.legends{
    display: block;
    margin-left: 20px;
    width: 80vw;
}
.legends h2{
    font-size: xx-large;
    font-weight: 700;
}
.legends span{
    font-size: x-large;
    font-weight: 500;
}
.legends p{
    margin-top: 10px;
}

@media (max-width: 767px){
    .history-section{
        width: 90vw;
        margin: 0 auto;
    }
}