    /*Colors*/
    
    .colors {
        color: #DED0C3;
        color: #756355;
        color: #A7897E;
    }
    /*Общие правила CSS для страницы*/
    
    * {
        margin: 0;
        padding: 0;
    }
    
    a {
        text-decoration: none;
        color: #121212;
    }
    
    html,
    body {
        height: 100%;
        
        background:url(../img/desktop/background/bckg.webp) center center/cover no-repeat;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    body {
        font-family: 'Roboto Mono', sans-serif;
        color: #121212;
    }
    
    div,
    p,
    input,
    button,
    form,
    span,
    a,
    ul,
    li {
        box-sizing: border-box;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Comfortaa', sans-serif;;
        letter-spacing: 0.05em;
    }
    
    p {
        line-height: 1;
        font-size: large;
    }
    /*Контейнер границ по бокам*/
    
    .container {
        max-width: 1170px;
        margin: 50px auto 0px auto;
    }
    .wrapper{
        border-radius:20px;
        padding: 20px 20px 100px 20px;
        background: #f5f5f5;
    }
    
    .margin {
        margin: 100px auto 0px auto;
    }
    /*Начало шапки*/
    
    .navigation {
        justify-content: space-between;
        display: flex;
        align-items: center;
        text-align: center;
        margin-bottom: 50px;
    }
    .logo__text{
        display: flex;
        align-items:center;
        
    }
    .logo__text h2{
        font-size: large;
        font-weight: 700;
        font-family: 'Comfortaa', sans-serif;
    }
    .logo__text span{
        color:#F05454;
    }
    .logo__pic {
        margin-right: 1vw;
        width: 5vh;
        height: 5vh;
    }
    
    .header {
        display: block;
        justify-content: space-between;
        align-items: center;
        font-size: 15px;
    }
    
    .header ul {
        display: flex;
        list-style: none;
        flex-wrap: wrap;
    }
    
    .header li {
        margin-right: 2vw;
        transition: all 0.3s ease;
    }
    
    .header li:hover {
        color: #F05454;
        margin-top: -3px;
    }
    
    .navigation__list a:hover{
        color:#F05454;
    }
    
    .title {
        color: #1c1c1c;
    }
    
    .slider__offer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        margin-bottom: 50px;
    }

    .slider__items{
        position: relative;
        display: flex;
        overflow: hidden;
        width: 50%;
        height: 300px;        
    }    
    .slide {
        position: absolute;
        width: 100%;
        height: 300px;
        border-radius: 30px 0 30px 0;
        transition: all 1.0s ease-in-out;
        overflow: hidden;
        opacity: 0;    
    }
    .slide.active{
        opacity: 1;
    }
    .sort-1{
        width: 100%;
        height: 100%;
        background: url(../img/desktop/slider/1.webp) center center/cover no-repeat;
    }
    .sort-2{
        width: 100%;
        height: 100%;
        background: url(../img/desktop/slider/2.webp) center center/cover no-repeat;
    }
    .sort-3{
        width: 100%;
        height: 100%;
        background: url(../img/desktop/slider/3.webp) center center/cover no-repeat;
    }
    .sort-4{
        width: 100%;
        height: 100%;
        background: url(../img/desktop/slider/4.webp) center center/cover no-repeat;
    }        
    .offer__title {
        font-size: 35px;
        display: flex;
        width: auto;
        line-height: 1.09;
    }
    
    .offer__sub {
        line-height: 1.2;
        font-size: 18px;
        margin-top: 20px;
        margin-left: 2vw;
        padding: 0 10px;
        max-width: 32vw;
        border-left: 3px solid #F05454;
    }
    /*Конец шапки*/
    /*Начало первой секции*/
    
    .section-title {
        text-align: center;
        font-size: 25px;
        margin-bottom: 50px;
    }
    
    .catalogs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .catalog {
        border-radius: 15px;
        width: 160px;
        height: 145px;
        text-align: center;
        padding: 15px;
        font-size: 18px;
        margin: 0 10px;
        font-style: normal;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        box-shadow: 0px 0px 18px 0px rgb(0 0 0 / 10%);
        transition: all 0.3s ease;
    }
    
    .catalog svg {
        width: 100%;
        height: 100%;
    }
    catalog h5{
        color:#30475E;
    }
    
    .catalog:hover {
        background-color: #F05454;
        color: #f5f5f5;
        transform: translateY(-10px);
        box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 27%);
    }
    
    .catalog:hover svg {
        fill: #f5f5f5;
    }
    
    .catalog-1 svg {
        stroke: #30475E;
    }
    
    .catalog-1:hover svg {
        stroke: #f5f5f5;
    }
    /*Icons for catalog*/
    
    .icons {
        width: auto;
        height: 50px;
    }
    
    .icon {
        width: 50px;
        height: 50px;
        margin: auto;
    }
    
    .icon svg {
        fill: #30475E;
    }
    /*Конец первой секции*/
    /*Начало второй секции*/
    
    .cards {
        display: flex;
        justify-content: space-around;
    }
    
    .card {
        box-shadow: 0px 0px 25px 0px rgb(0 0 0 / 10%);
        border-radius: 15px;
        /*border: 1px solid #30475E;*/
        padding: 10px;
        width: 250px;
        transition: 0.2s ease-in-out;
    }
    
    .card:hover {
        background: #f1f1f1;
        box-shadow: 0px 0px 25px 0px rgb(0 0 0 / 27%);
        transform: translateY(-5px);
    }
    
    
    
    .card img {
        border-radius: 10px;
        width: 100%;
    }
        
    
    .card-h {
        margin: 10px 0;
        text-align: left;
        padding: 0;
    }
    
    .card-p {
        text-align: left;
        color: #121212;
        padding: 0;
        line-height: 1;
        font-size: 16px;
    }
    
    .date {
        display: flex;
        justify-content: space-between;
        color:#30475E;
    }
    
    .publish-date svg,
    .reading-time svg {
        width: 8px;
        height: 8px;
    }
    
    .card-small {
        text-align: right;
        padding-top: 0;
        font-size: 10px;
    }
    
    .card-small_date {
        text-align: left;
        padding-top: 0;
        font-size: 10px;
    }
    
    .card--other {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .href-podskazka{
        font-size: x-small;
        color:#748597;
        margin: 20px 0;
        text-align: center;
        opacity: 0.7;
    }
    
    /*Начало третьей секции*/
    
    .display__flex {
        display: flex;
        align-items: center;
        padding: 10px;
    }
    
    .container__inner {
        width: 80%;
        height: auto;
        line-height: normal;
        text-align: start;
    }
    
    .socials {
        width: 250px;
        border-radius: 20px 20px 0px 20px;
        margin-top: 15px;
        border: 1px solid #30475E;
        /*background-color: #DED0C3;*/
        background: url(/img/desktop/icons/icons-bck.svg) center center /cover no-repeat;
    }
    
    .low-text {
        color: #30475E;
        line-height: 1.15;
        font-size: 16px;
        padding-right: 20px;
    }
    
    .socials_icons {
        display: flex;
        justify-content: space-around;
        margin: 10px;
    }
    
    .socials-icon {
        width: 50px;
        height: 50px;
        transition: all 0.2s ease;
    }
    
    .socials-icon:hover {
        margin-top: -3px;
    }
    
    .social-icon-1 {
        background: url(../img/desktop/icons/instagram.svg) center bottom /contain no-repeat;
    }
    
    .social-icon-2 {
        background: url(../img/desktop/icons/telegram.svg) center bottom /contain no-repeat;
    }
    
    .social-icon-3 {
        background: url(../img/desktop/icons/youtube.svg) center bottom /contain no-repeat;
    }
    
    .social-icon-4 {
        background: url(../img/desktop/icons/discord.svg) center bottom /contain no-repeat;
    }
    /*Конец третьей секции*/
    /*Начало подвала секции*/
    
    .footer {
        display: flex;
        background-color: #121212;
    }
    
    .footer-credits {
        width: 100vw;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 30px auto;
    }
    
    .credits {
        font-size: 12px;
        color: #f5f5f5;
        font-weight: 300;
    }
    
    .credits a {
        color: #F05454;
    }
    
    .credits a:hover {
        color: #f5f5f5;
    }
    /*Конец подвала секции*/
    
    .locker {
        align-items: center;
        text-align: center;
    }
    
    .locker img {
        width: 500px;
        height: 500px;
    }
    /*.fade-slider{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 1140px;
    height: 80%;
    margin-top: 15vh;
}
.slider__offer{
    background: url(/img/desktop/cards/first-page.png) center center /contain no-repeat;
    height: 100%;
}
.offer__title{
    color: #fff;
    font-size: 64px;
    padding: 0px 17px 8px;
    background-color:rgb(219, 219, 219);
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.09;
}
.offer__sub{
    width: 85vh;
    height: auto;
    margin-top: 10px;
    background-color: blanchedalmond;
    display: flex;
    line-height: 1.09;
    padding: 0px 17px 8px;
    
}*/
    /* Adaptive*/
    
    @media (max-width: 1200px) {
        .container {
            max-width: 970px;
        }
        .cards{
            flex-wrap: wrap;
            justify-content:center;
        }
        .card{
            margin:15px 15px;
        }
        .slider__offer{        
            padding: 20px;
            width: 100%;
            flex-wrap: wrap;
        }
        .offer__sub{
            max-width: 85vw
        }
        .slider__items{
            margin-top: 50px;
            width: 95%;
        }

    }
    
    @media (max-width: 992px) {
        .container {
            max-width: 750px;
        }
        .slider__text{
            width: 100vw;                        
        }
        .offer__sub{
            max-width: 100vw
        }
        .navigation{
        padding: 20px 20px;}
        .catalog{
            margin: 10px;
        }
        .slider__items{
            width: 90vw;
        }        
    }
    
    @media (max-width: 767px) {
        .wrapper{
            padding:0;
        }
        .container {
            width: none;
        }
        .slider__items{
            margin-top: 50px;
        }
        .slider__text{
            width:80vw; 
        }
        .offer__sub{
            max-width: 100vw
        }
        .cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        .display__flex{
            flex-wrap: wrap;
            justify-content: center;
        }
        .container__inner{
            text-align: center;
        }
        .slider__offer{
            justify-content: center;
            padding: 0;
        }
        .slider__items{
            width: 90%;
        }
        .slide{
            border-radius: 10px;
        }
        .catalogs{
            justify-content: space-around;
        }
        .catalog{
            width: 120px;
            flex-direction: column-reverse;
        }
        .header ul{
            display: block;
        }
        .header li{
            margin-top:5px;
        }
        .section-title{
            font-size: 22px;
        }
        .footer-credits{
            padding: 0 15px;
            text-align: center;
            align-items:center;
        }
        .credits{
            margin-top: 15px;
            
        }
}
    @media (max-width: 320px ){
        .slider__text{
            width:80vw; 
        }
        .container {
            width: none;
        }
    }
